<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button id="click"> Click Me</button>
        
<p id="demo">jkscjkbc</p>
<img src="https://tse2.mm.bing.net/th?id=OIP.qDYoymusvHgscpDD7xDWyAHaEK&pid=Api&P=0&w=307&h=173" id="myimg">
    <script src="/js/app2.js"></script>
<br><br>
<form method="POST" action="/help" enctype="application/x-www-form-urlencoded">
    User:
    <input type="text" name="user"><br>
    Password:
    <input type="password" name="password">
    <input type="submit"/>
</form>
<a href="/logout">Logout</a>

</body>
</html>